:root {
    --color-background: #313030;
    --color-element: #8321c2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
    color: #f1ecf1;
    
    /* outline: 2px solid aliceblue; */
}
*,
*:before,
*:after{
    box-sizing: border-box;
    /* box-sizing: inherit; */
}

body{
    background-color: var(--color-background);
    /*color: aliceblue;*/    
}
.container {
    min-width: 50vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center 
}
.tr{
    display: flex;    
    justify-content: space-between;
}

.tr .btn_s{
    flex: 1;
    min-width: 320px;
    text-align: center;
    /* width: 400px; */
}

.btn_s{
    background-color: var(--color-background);
    padding: 8px;
    border-radius: 1rem;
    /* width: 100vw; */
    width: 100%;
    margin-bottom: 8px;
}
.btn_s a{
    display: block;
}
.login-page .btn_s{
    width: 100%;
}
.text-class{
    width: 100%;
    height: 100%;
    background: transparent;
    /* outline: none; */
    /* outline: 8px ridge rgba(170, 50, 220, .6); */
    border-radius: 2rem;
    font-size: 1em;
    color: #e617e6;
    font-weight: 600;
    padding: 8px 35px 7px 15px;
    margin: 5px auto;
    /* border-radius: 10px; */
}
.text-class:focus{
    width: 100%;
    height: 100%;
    background: transparent;
    /* outline: none; */
    outline: 2px solid var(--color-element);
    border-radius: 2rem;
    font-size: 1em;
    color: #e617e6;
    font-weight: 600;
    padding: 8px 35px 7px 15px;
    margin: 5px auto;
    /* border-radius: 10px; */
}
ul {
    width: calc(100% - 8%);
    padding: 0;
    margin: 0 0 0 4%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-left: 4%; */
    
}
Ul li {
    width: 400px;
    height: 200px;    
    padding: 8px 8px 7px 8px;
    outline: 2px solid var(--color-element);
    border-radius: 2rem;
    margin: 20px 25px;
    
}

Ul li a {
    /* margin-right: 7px; */
    display: block;
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    
}
Ul li a span{
    color: #fc0; /* Цвет ссылки */
}

.centered {
    text-align: center; /* Выравнивание текста по центру */
    margin: 0 auto; /* Автоматические отступы для выравнивания блока по центру */
    white-space: normal; /* Перенос текста на новую строку */
  }

.error-message {
    color: color-mix(in srgb, var(--color-element) 60%, white);
    text-shadow: 0 0 10px var(--color-element);
    margin: 25px 0 0 0;
}
