:root {
    --color-background: #313030;
    --color-element: #8321c2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Helvetica', 'Arial', sans-serif;
    text-decoration: none;
    color: #f1ecf1;
    
    /* outline: 2px solid aliceblue; */
}
*,
*:before,
*:after{
    box-sizing: border-box;
    /* box-sizing: inherit; */
}

body{
    background-color: var(--color-background);
    /*color: aliceblue;*/    
}
.container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center 
}
.btn_s{
    background-color: var(--color-background);
    padding: 8px;
    border-radius: 1rem;
    width: 100vw;
    /* width: 100%; */
    margin-bottom: 8px;
}
.btn_s a{
    display: block;
}

.text-class{
    width: 100%;
    height: 100%;
    background: transparent;
    /* outline: none; */
    /* outline: 8px ridge rgba(170, 50, 220, .6); */
    border-radius: 2rem;
    font-size: 1em;
    color: #e617e6;
    font-weight: 600;
    padding: 8px 35px 7px 15px;
    margin: 5px;
    /* border-radius: 10px; */
}
.text-class:focus{
    width: 100%;
    height: 100%;
    background: transparent;
    /* outline: none; */
    outline: 2px solid var(--color-element);
    border-radius: 2rem;
    font-size: 1em;
    color: #e617e6;
    font-weight: 600;
    padding: 8px 35px 7px 15px;
    margin: 5px;
    /* border-radius: 10px; */
}
ul {
    width: calc(100% - 8%);
    padding: 0;
    margin: 0 0 0 4%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin-left: 4%; */
}
Ul li {
    
    height: calc(100vh - 70vh);
    /* min-height:30vh; */
    width: calc(100vw - 75vw);
    max-width: 20vw;
    margin: 15px 0;
    padding: 8px 8px 7px 8px;
    outline: 2px solid var(--color-element);
    border-radius: 2rem;
    /* flex-grow: 1;
    flex-basis: content; */
    margin: 20px 25px;
}

Ul li a {
    /* margin-right: 7px; */
    display: block;
    text-align: center; /* Выравнивание по центру */
    height: 100%; /* Высота на весь слой */
    
}
Ul li a span{
    color: #fc0; /* Цвет ссылки */
}
