<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <title>Document</title>
</head>
<body>
    <div class="container">
        
        <div class="centered">
            <form action="#" th:action="@{/reg}" th:object="${user}" method="post">
                <h1>РЕГИСТРАЦИЯ</h1>
                <input class="text-class" th:field="*{username}" type="text" placeholder="Введи логин" required th:oninvalid="this.setCustomValidity('')">
                <input class="text-class" th:field="*{password}" type="password" placeholder="Введи пароль" required th:oninvalid="this.setCustomValidity('')">
                <input class="text-class" th:field="*{email}" type="text" placeholder="Введи email" required th:oninvalid="this.setCustomValidity('')">
                <input class="text-class" th:field="*{number}" type="text" placeholder="Введи телефон" required th:oninvalid="this.setCustomValidity('')">
                <div>
                    <button class="btn_s"><h1><a href="/">вернуться</a></h1></button>
                    <button class="btn_s"  type="submit"><h1>Добавить</h1></button>
                </div>            
            </form>
        </div>
    </div>    
</body>
</html>