<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
       
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div >   
            <!--  -->
            <div sec:authorize="isAuthenticated()">
                <div class="tr">
                    <h1>Добро пожаловать, <span th:text="${username}">Пользователь</span>!</h1>
                    <div>  
                        <button class="btn_s"> 
                            <h1><a href="logout">покинуть</a></h1>
                        </button>
                    </div>    
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <div class="tr">
                    <h1>У вас еще нет аккаунта?</h1>
                    <div style="display: flex; flex-wrap: wrap;" >  
                        <button class="btn_s"> 
                        <h1><a href="login">Войти</a></h1>
                        </button>
                        <button class="btn_s"> 
                            <h1><a href="reg">Зарегистрироваться</a></h1>
                        </button>
                    </div>    
                </div>
            </div>
            <!--  -->
            <div >  <button class="btn_s"> <h1><a href="reg">WELCOME</a></h1></button></div>    
            
                <div > 
                    <ul>
                        <li th:each = "user : ${User}" >
                            <a th:href="@{/update/{id}(id=${user.id})}">
                                <span th:text="${user.username}"></span>
                                <span>Редактировать</span>
                                
                            </a>
                        </li>
                    </ul>
                <div><button class="btn_s"> <h1><a href="https://iss.moex.com/iss/securities.xml?q=GAZP&iss.meta=off&group_by_filter=commor_share ">акции</a></h1></button></div>
                
        </div>
    </div>
    


    
</body>
</html>
